.footerContainer {
  padding: 0 10px;
  position: absolute;
  width: 100%;
  align-items: center;
  bottom: 0;
}

.footerLine {
  border: 1px solid green;
  border-radius: 10px;
  margin-bottom: 10px;
}
.footerBox {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  justify-content: space-between;
}
.footerLogo {
  margin-left: 50px;
}
.socialConnects {
  display: flex;
  position: relative;
  gap: 15px;
  align-items: center;
  text-align: center;
  width: fit-content;
}
.social {
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
