body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
a,
Link,
button,
ul,
button,
input,
div,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: none;
  background: none;
  border: none;
  text-decoration: none;
  color: initial;
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}
